/* Classes ------------------------- */

.body {
  margin: 0;
  padding: 0;
  font-family: BenchNine, sans-serif;
}

.nav-bar {
  min-height: 65px;
  padding-top: px;
  font-family: BenchNine, serif;
  font-size: larger;
}

.main-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wide-container {
  width: 90%;
}

.carousel-container {
  /* text-align: center; */
  color: dimgray;
  background-color: lightgrey;
  width: 100%;
}

a {
  font-family: BenchNine, serif;
  color: white;
  font-size: large;
}

.resource-a {
  font-family: BenchNine, serif;
  color: rgb(75, 75, 75);
}

.footer-a {
  font-family: BenchNine, serif;
  color: white;
}

.btn:hover {
  color: rgb(75, 75, 75);
}

a:hover {
  color: #039be5;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-top: 40px;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.brand-logo {
  margin-top: 10px;
  padding-top: 5px;
}

.main-text-section {
  padding: 20px;
}

.main-text {
  padding-left: 25px;
  padding-right: 25px;
  font-family: "BenchNine", serif;
}

.card-title {
  font-family: BenchNine, serif;
  color: dimgrey;
  font-size: x-large;
}

.card-buttons {
  margin: auto;
}

.image-size {
  width: auto;
  height: auto;
}

button {
  font-family: BenchNine, serif;
}

p {
  font-family: BenchNine, sans-serif;
  font-size: large;
  color: rgb(75, 75, 75);
}

h1 {
  font-family: BenchNine, sans-serif;
  font-size: large;
}

h3 {
  font-family: BenchNine, sans-serif;
  color: rgb(75, 75, 75);
  font-weight: bold;
}

h5 {
  font-family: BenchNine, sans-serif;
  color: rgb(75, 75, 75);
  font-weight: bold;
}

.drink-wrapper {
  padding-top: 20px;
}

.drink-wrapper-images {
  padding: 5px;
}

.drink-wrapper-buttons {
  color: white;
}

.media-section {
  border: dimgray;
  border-width: 1px;
}
.sidenav {
  background-color: white;
  color: white;
}
.wide-footer {
  margin: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 245px; /* Height of the footer */
  background: #6cf;
}

.page-footer h5 {
  font-family: BenchNine, sans-serif;
  font-size: 30px;
}

.footer-copyright {
  font-size: small;
  color: #039be5;
}

/* .carousel {
  display: block;
} */
/* ID's ------------------------------- */

#nav-mobile {
  color: cadetblue;
}

#liquorSearch {
  padding: 35px;
}

#randomDrink {
  padding: 35px;
}

#barSearch {
  padding: 35px;
}

#youTube {
  padding-left: 60px;
  padding-bottom: 40px;
  border: dimgray;
  border-width: 1px;
}

#maps {
  padding-top: 20px;
}

#alcoholInput {
}

#rumInput {
}

#tequilaInput {
}

#chooseRecipe {
  display: block;
}

/* Test --------------------------- */

.card-title {
  color: dimgrey;
  font-size: 10px;
}

.card-buttons {
  margin: auto;
}

.image-size {
  width: 100%;
  height: 100%;
}

/* h5 {
  color: dimgray;
  font-weight: bold;
} */

h1 {
}
